.homeback {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #7e22ce 0%, #5b21b6 70%);
}
.bgsvg {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    fill: var(--primary-color);
}

.mainBottomNavigation {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);;
    opacity: 0.85;
    background-color: var(--primary-color);
    color: white;
    -webkit-transform: translateX(-50%);
    border-radius: 2rem !important;
}
.bottomNavigationAction{
    color: white !important;
    min-width: 3.75rem !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.aboutmeBack {
    background: linear-gradient(90deg, var(--bg-1-color) 0%, var(--bg-2-color) 70%) !important;
}